<div class="card text-white bg-dark mb-3" style="min-width: 100%;">
  <div class="card-header" align="center" style="font-size: x-large">About Team Up</div>
  <div class="card-body">
    <h5 class="card-title">How it Works?</h5>
    <p class="card-text">Team Up can be used to form teams. Simple!</p>
    <hr>
  </div>
  <table align="center">
    <tr>
      <td>
        <div class="card text-white bg-success mb-3" style="min-width: 100%;">
          <div class="card-header">Random Team Allotment</div>
          <div class="card-body">
            <p class="card-text" style="text-align: left">This is more helpful when almost all the team players are of same level.<br>
            Want to divide the team randomly? We can Help <br> What we need ?<br> 1. Team Size <br> 2. Players name <br>
              3. Little Patience</p>
          </div>
        </div>
      </td>
      <td>
        <div class="card text-white bg-success mb-3" style="min-width: 100%;">
          <div class="card-header">Team Up Style</div>
          <div class="card-body">
            <p class="card-text" style="text-align: left">When players are at different skill level and you can't decide the team.<br>
            We can help. <br> What we need? <br> 1. Team Size <br> 2. Players name <br> 3. Respective players skills</p>
          </div>
        </div>
      </td>
    </tr>
  </table>
</div>
