<br><br><br><br>
<div class="container-fluid" align="center">
  <font color="white">Oops!!</font><br>
  <span class="blinking" style="font-size: 1000%;" color="white">404</span><br>
  <font color="white">We are sorry but the page you requested was not found</font>
</div>
<br><br><br><br>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-3">
      <button routerLink="/home" style="float: right;"><span>Home</span></button>
    </div>
    <div class="col-sm-3">
      <button routerLink="/contactUs" style="float:left;"><span>Contact Us</span></button>
    </div>
    <div class="col-sm-3"></div>
  </div>
</div>
<br><br><br>
<div align="center">
  <p><font color="white">Made With &hearts; By Aman &nbsp;&nbsp;&nbsp;</font><a href="https://github.com/3point141/"><img src="../../assets/github.png" style="height: 20px; width: 20px" alt="Github"></a>
    &nbsp;<a href="https://www.linkedin.com/in/aman95kumar/"><img src="../../assets/linkedin.png" style="height: 20px; width: 20px" alt="LinkedIn"></a></p>
</div>
