.blinking{
  animation:blinkingText 0.8s infinite;
}
@keyframes blinkingText{
  0%{		color: #FFFFFF;	}
  49%{	color: transparent;	}
  50%{	color: transparent;	}
  99%{	color:transparent;	}
  100%{	color: #FFFFFF;	}
}

button {
  width: 100%;
  border-radius: 4px;
  background-color: #4CAF50;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 10px;
  transition: all 0.5s;
  cursor: pointer;
  float: left;
}

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}

button:hover span {
  padding-right: 25px;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}


span{
  font-weight: bold;
}
