<app-navbar></app-navbar>
<form name="form" #f="ngForm" (ngSubmit)="f.form.valid && sendFeedback()" novalidate class="feedback-form">
<div align="center" class="container-fluid" >
  <div align="center" style="opacity: 100%">
    <H1 style="color: #FFFFFF;">TEAM UP | <font style="color: #28a745">Contact Us</font></H1>
  </div>
  <br><br><br>
  <div align="center" class="container-fluid">
    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-4">
        <button disabled> Name </button>
        <input type="text" placeholder="Your Name" required="required" name="name" id="name" [(ngModel)]="contact.name">
      </div>
      <div class="col-sm-4"></div>
    </div>
    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-4">
        <button disabled> Email </button>
        <input type="email" placeholder="Your Email" required="required" name="email" id="email" [(ngModel)]="contact.email">
      </div>
      <div class="col-sm-4"></div>
    </div>

    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-4">
        <button disabled> Message </button>
        <input class="message" type="text" placeholder="Your Message" required="required" name="message" id="message" [(ngModel)]="contact.message">
      </div>
      <div class="col-sm-3"></div>
    </div>
    <div class="bigButton" align="center">
      <button type="submit" style="float: none;width: 32%;background: crimson"><span>Submit</span></button>
    </div>
  </div>
</div>
</form>
<br>
<div align="center">
  <p><font color="white">Made With &hearts; By Aman &nbsp;&nbsp;&nbsp;</font><a href="https://github.com/3point141/"><img src="../../assets/github.png" style="height: 20px; width: 20px" alt="Github"></a>
    &nbsp;<a href="https://www.linkedin.com/in/aman95kumar/"><img src="../../assets/linkedin.png" style="height: 20px; width: 20px" alt="LinkedIn"></a></p>
</div>
